
assets/xaerominimap/entity/icon/sprite/slabfish_plains.png
assets/xaerominimap/entity/icon/sprite/slabfish_plains_0.png
assets/xaerominimap/entity/icon/definition/environmental/slabfish.json
assets/xaerominimap/entity/icon/definition/twilightforest/yeti.json
assets/xaerominimap/entity/icon/definition/twilightforest/yeti_alpha.json
assets/xaerominimap/entity/icon/definition/twilightforest/death_tome.json
assets/xaerominimap/entity/icon/definition/twilightforest/quest_ram.json
assets/xaerominimap/entity/icon/definition/twilightforest/hydra.json
