
assets/xaerominimap/entity/icon/sprite/slabfish_plains.png
assets/xaerominimap/entity/icon/sprite/slabfish_plains_0.png
assets/xaerominimap/entity/icon/definition/environmental/slabfish.json
Xaero's Minimap - Mod Icons.zip
